<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/style.css" />
        <title>Mateusz Chocianowski</title>
    </head>
    <body class="body">
        <header>
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-3">
                    <img src="assets/images/website-logo.jpg" alt="website-logo" class="img-fluid logo" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1 class="name-surname">Mateusz Chocianowski</h1>
                    <h2 class="occupation">Web Developer</h2>
                </div>
                <div class="col-sm-12 col-md-3 bg-color-image">
                    <img src="assets/images/Mateusz.jpg" alt="Mateusz Chocianowski" class="img-fluid Mateusz" />
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-md justify-content-center bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="resume.html">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cv-download.html">CV Download</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-12 About-me">
                    <p>
                        In the recent months I have chosen to make a change to my current career from a motor sport engineer to a web developer despite my love for cars. This is furthering my creator skills into something that I feel has
                        much more to offer for myself and my growing skills by having both main aspects of design and coding thus resulting in critical thinking. Permitting me to fully appreciate what goes into creating a working website.
                    </p>
                </div>
            </div>
        </section>
        <!-- The footer code was outsourced from https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/blob/master/09-adding-footer-content/assets/css/style.css and edited to suit developer needs.-->
        <footer class="container-fluid">
            <div id="footer-details" class="row">
                <div class="col-sm-12">
                    <h5 class="uppercase general-sub">Place of residence.</h5>
                    <p class="inline-block">
                        10 Westmacott Drive Feltham London TW14 9RN
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="uppercase general-sub">Social</h5>
                    <ul class="list-inline social-links">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/mateusz.chocianowski/">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.linkedin.com/in/mateusz-chocianowski-b68b6a1b1">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/Matt.pl_97">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>